  // Media Query
  @mixin device($device) {
    @if $device == tablet {
      @media (min-width: 43.75rem) {
        @content;
      }
    }  
    @else if $device == desktop {
      @media (min-width: 75rem) {
        @content;
      }
    }
  }

  // Colors
$neutral-1: #FFFFFF;
$primary-1: #21092F;

// Fonts

$fonts: (
  "$small1": 9px,
  "$small2": 12px,
  "$small3": 18px,
  "$medium1": 28px,
  "$medium2": 24px,
  "$medium3": 32px,
  "$large1": 48px,
  "$large2": 64px,
  );