@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import 'utilities';
// CSS RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
	list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

//Project Start

body {
  min-height: 100vh;
  background: url(./images/bg-main-mobile.png);
  background-repeat: repeat-x;
  font-family: "Space Grotesk", sans-serif;
  @include device(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
  }
}

.hero__container {
  @include device(desktop) {
    display: flex;
    max-width: 1049px;
    gap: 127px;
    align-items: center;
  }
}

.hero__card {
  max-width: 343px;
  display: grid;
  grid-template-rows: 89px 63px 94px;
  margin: 32px auto 48px auto;
  @include device(desktop) {
    max-width: 541px;
    grid-template-columns: max-content 94px;
    grid-template-rows: initial;
    gap: 37px 0;
  }
}

.card__front,
.card__back {
  max-width: 286px;
  @include device(desktop) {
    max-width: 447px;
  }
}

.card__front {
  order: 1;
  grid-row: 2 / 4;
  position: relative;
}

.card__back {
  justify-self: end;
  position: relative;
  @include device(desktop) {
    grid-column: 1 / -1;
  }
}

.card__back-cvc {
  position: absolute;
  bottom: 0;
  right: 42px;
  @include device(desktop) {
    bottom: 113px;
    right: 57px;
  }
}

.card__logo {
  position: absolute;
  left: 19px;
  top: 17.6px;
  max-width: 54px;
}

.front__data {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 0 20.9px 19.6px 19px;
  gap: 17px;
  color: #FFFFFF;
}

.data__number {
  font-size: 18px;
  letter-spacing: 2.2px;
}

.name-validity {
  font-size: 9px;
  letter-spacing: 1.29px;
  display: flex;
  justify-content: space-between;
  margin-right: -6px;
  text-transform: uppercase;
  
}

.hero__form {
  max-width: 327px;
  margin: 0 auto;
  font-size: 12px;
  @include device(desktop) {
    max-width: 381px;
  }
}

input {
  border: 1px solid #DFDEE0;
  border-radius: 8px;
  padding: 11px 0 11px 16px;
  letter-spacing: 2px;
  font-weight: 500;
  &::placeholder {
    font-size: 18px;
  }
}

fieldset {
  border: none;
  display: inline-block;
}

.exp-date-wrapper {
  margin-right: 11px;
  @include device(desktop) {
    margin-right: 20px;
  }
}

legend,
label {
  margin-bottom: 9px;
  color: #21092F;
  font-weight: 500;
  display: block;
  text-transform: uppercase;
}

#card-name,
#card-number {
  display: block;
  width: 100%;
}

.card-name-wrapper,
.card-number-wrapper {
  margin-bottom: 26px;
}

.exp-card {
  max-width: 72px;
}

.date-cvc-wrapper {
  display: flex;
}

.cvc-wrapper {
  display: inline-block;
  max-width: 100%;
  input {
    width: 164px;
  }
}

.form__btn {
  width: 100%;
  margin-top: 28px;
  font-size: 18px;
  background-color: #21092F;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 15px 0;
}

.completed {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 327px;
  margin: 0 auto;
  display: none;
  @include device(desktop) {
    max-width: 381px;
  }
  img {
    max-width: 80px;
    margin-bottom: 35px;
  }
  h2 {
    margin-bottom: 16px;
    @include device(desktop) {
      font-size: 28px;
    }
  }
  p {
    margin-bottom: 48px;
    font-size: 18px;
  }
  button {
    width: 100%;
    margin-bottom: 28px;
    font-size: 18px;
    background-color: #21092F;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 15px 0;
    @include device(desktop) {
    width: 381px;
    }
  }
  
}

.error-msg {
  color: red;
  margin-top: 8px;
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}